/* 반응형 */
@media screen and (min-width:320px) and (max-width:640px) {
    body {max-width: 100%; height: 100vh; }
    header .inner {
        position: relative;
        max-width: 100%;
        height: 9.375em;
        margin: 1.875em 0 0 0 ;
    }
    h2 {font-size: 1.751rem; text-align: center;  z-index: 150;}
    header .inner .lang > a {padding-left: 0.625em;}
    header .gnb > ul,
    header .shop{display: none;}
    header .inner .logo img{ 
        margin-top: -30px;
        display: block;
        width: 9.125em;
        text-align: center;
    }
    .swiper-slide1 .title,
    .swiper-slide22 .title,
    .swiper-slide3 .title,
    .swiper-slide4 .title{
    width: 100%;
    color: #fff;
    position: absolute;
    bottom:0.625em; left: 5%;

    z-index: 10;
    }
    header .inner .mobile {
        display: block; 
        position: absolute; 
        top: -40px; right: -10px; 
        font-size: 25px;
    }
    .contents ,section {width: 100%; margin-left: 0;}
    .mySwiper {
        width: 100%; height: 37.15em;
        position: relative;
        top: -250px;
    }
    .swiper-slide1 {
        background: url(../img/moBg1.jpg) no-repeat;
        background-size: 100% 37.15em;
    }
    .swiper-slide22 {
        background: url(../img/moBg2.jpg) no-repeat;
        background-size: 100% 37.15em;
    }
    .swiper-slide3 {
        background: url(../img/moBg3.jpg) no-repeat;
        background-size: 100% 37.15em;
    }
    .swiper-slide4 {
        background: url(../img/moBg4.jpg) no-repeat;
        background-size: 100% 37.15em;
    }
    .swiper-slide1,
    .swiper-slide22,
    .swiper-slide3,
    .swiper-slide4
     { margin-top:-3.125em; }
    .swiper.mySwiper .title .stext {margin-bottom: 1.00em;}
    .swiper.mySwiper .title .btext {
        width: 100%;
        font-size: 1.551rem; 
        font-weight: 600;
    }
    .Swiper2 {margin-top: -500px;}

    .button {display: none;}
    
/* ================================box1==========================  */
.contents {margin: 0; height: auto;}
.contents > div {margin-bottom: 0;}
.contents .swiper.Swiper2 {
    margin-top: 70px;
}
.contents .box1 { margin-top: -150px;}
.swiper-wrapper2 {width: 100%; height: 100vh;}
.Swiper2 {width: 100vw; height: 100%;}
.Swiper2 .swiper-slide2 {width: 500px; height: 830px;}
.Swiper2 .swiper-slide2 img {width: 100%; height: 500px ; }
.contents .box1 .title { 
    margin-top: -400px; 
    height: 150px;
    padding-top: 20px;
}
.contents .swiper.Swiper2 .swiper-slide{border: none;  height: 700px;}
.contents .box2 .title a {border: none;}
.contents .box1 .title p {font-size: 25px; margin-top: 30px;}

/*============================= box2 =========================*/
    .contents .box2 { 
        position: relative; 
        width: 100%;
        margin-top: 200px;
    }
    .contents .box2 img {display: none;}
    .contents .box2 figure img { 
        display: block; 
        width: 100%;
    }
    .contents .box2 .title { 
        position: absolute; 
         left: 13%; 
        text-align: left;
    }
    .contents .box2 .title .big {
        font-size: 30px; 
        margin-bottom: 0.313em; 
        font-weight: 500;
    }
    .contents .box2 .title .small {
        font-size:20px ; 
        color: rgba(0, 0, 0, 0.4);
        margin-bottom: 0.813em;
        }
    .contents .box2 .title a {
        display: inline-block; 
        padding: 10px 20px ; 
        border: 1px solid #000; 
        font-size: 20px;
    
    }
    .contents .box2 .title a:hover {
        background: #000; color: #fff; 
        transition: all 0.7s;
    }

/* ============================box3====================== */

    .contents .box3 {
        width: 100%;
        height: 110vh;
        position: relative; 
        float: none; 
        margin-top: 150px;
     }
    .contents .box3 .cont2 {
        position: absolute; 
        top:140px; left: 0;
    }
    .contents .box3 .cont2 img { padding: 0; width: 100%;}
    .contents .box3 .cont1 { 
        position: absolute; 
        top: 710px; left: 0; 
        width: 295px;
    }
    .contents .box3 .cont1:last-child {margin-left: 315px;}
    .contents .box3 .cont1 img { width: 305px; }
    .contents .box3 .cont1 .title {width: 305px; height: 200px; margin-top: -10px;}
    /* .contents .box3 .cont1 .title:first-child {margin-left: 5px;} */
    .contents .box3 .cont2 .title .big {font-size: 35px;}
    .contents .box3 .title .big {font-size: 30px;}
    .contents .box3 .title .small {font-size: 22px; }
    .contents .box3 .title .small
/* ==================================section================================ */
    section{
        float: none; 
        width: 100%; 
        margin-top: 150px;
    }
    section div {
        text-align: center; 
        width: 100%; 
        margin: 0 0 80px 0 ;
    } 
    section .right {margin: 30px 0 0 0}
    section .left {margin: 230px 0 0 0 }
    section div .title {margin-top: 0;}
    section div .title .text {font-size: 30px;}
    section div .title span {font-size: 20px;}
    
    section img {width: 100%;}

/* =============================review========================= */

.review {width: 100%; margin: 100px 0;}
.Swiper3 {width: 100%; height: 120vh;}
.review .Swiper3 .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
    color: #000;
  }
.swiper-backface-hidden .swiper-slide3 {width: 100%;}
.review .Swiper3 .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
    color: #000;
  }
.Swiper3 .swiper-slide { 
      width: 600px; 
      height: auto;
      margin-bottom: 150px;
      text-align: center;
      background: #fff;
    }
.review .Swiper3 .swiper-slide .bg img{width: 350px; height: 350px;}
.Swiper3 .review_text{ 
    display: none;
    border: 2px solid #ccc; 
    width: 350px; height: 349px;
    position: absolute;
    top: -51px; left: 123px; bottom: 0;
    background: rgba(226, 226, 226, 0.5);
    
}
.Swiper3 .review_text img {  
    display: none;
    width: 100px; 
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);    
}
.Swiper3 .review_text a{display: block; padding: 100%;}
.Swiper3 .swiper-slide:hover .review_text,
.Swiper3 .review_text img {display: block;}


/* ==========================footer======================== */
footer {width: 100%; overflow: hidden;}
footer .bottom .list{width: 100%; position: relative; }
footer .bottom .list .right { 
    position: absolute; 
    top: 0; right: -60%;
    width: 100%;
    
}
footer .bottom .list .right li {float: left; width:35px;}
footer .bottom .list .right li a {display: block;}
footer .bottom .list .right li:first-child img {display: none;}


}